flows.json
[{"id":"6b02241f.af3a2c","type":"tab","label":"Flow 1"},{"id":"337e250c.e7362a","type":"messengerBot","z":"6b02241f.af3a2c","name":"","verifyToken":"dontcare","pageToken":"EAAaKm2eXFoYBAL3ciyZCAL4hTGukL38NKRGMGbxAHa6fdAbcsQUB8kIAj5PZCW9BBFhTl5PcX8J5fxqza3BXk3gK7ByYasvxSSTCXUQZCsnht4GNbAqqxCyy6NbPG9y4q60QdG8HPjyrrJSHFHKmV6QfuLhRUB8vK22gscUxwZDZD","fbAppSecret":"732745378547eb1ad3b1097c2d1215f8","webhookEndpoint":"/SWO5EK47","x":272.5,"y":354,"wires":[["cae84ade.696f18"]]},{"id":"904e8f39.b2643","type":"slackBot","z":"6b02241f.af3a2c","name":"","clientId":"","clientSecret":"","webhookEndpoint":"","x":278.5,"y":430,"wires":[[]]},{"id":"3fee6ac.3a42b96","type":"telegramBot","z":"6b02241f.af3a2c","name":"","authToken":"","webhookEndpoint":"","x":289.5,"y":494,"wires":[[]]},{"id":"3616b0d9.e3419","type":"twitterBot","z":"6b02241f.af3a2c","name":"","consumerKey":"","consumerSecret":"","accessToken":"","accessTokenSecret":"","x":286.5,"y":554,"wires":[[]]},{"id":"4e412e52.6567b","type":"botmaster in","z":"6b02241f.af3a2c","name":"","x":256.5,"y":148,"wires":[["77f0ee55.fe1","fb0787fc.875638"]]},{"id":"cda45547.fa7e18","type":"botmaster out","z":"6b02241f.af3a2c","name":"","function":"reply","x":509.5,"y":206,"wires":[]},{"id":"cae84ade.696f18","type":"debug","z":"6b02241f.af3a2c","name":"","active":true,"console":"false","complete":"true","x":419.5,"y":349,"wires":[]},{"id":"77f0ee55.fe1","type":"debug","z":"6b02241f.af3a2c","name":"","active":true,"console":"false","complete":"true","x":404.5,"y":144,"wires":[]},{"id":"fb0787fc.875638","type":"function","z":"6b02241f.af3a2c","name":"","func":"msg.payload = 'hi there'\nreturn msg;","outputs":1,"noerr":0,"x":332.5,"y":214,"wires":[["cda45547.fa7e18"]]}]