flows.json
[
    {
        "id": "6b02241f.af3a2c",
        "type": "tab",
        "label": "Hello world"
    },
    {
        "id": "337e250c.e7362a",
        "type": "messengerBot",
        "z": "6b02241f.af3a2c",
        "name": "",
        "verifyToken": "dontcare",
        "pageToken": "EAAaKm2eXFoYBAL3ciyZCAL4hTGukL38NKRGMGbxAHa6fdAbcsQUB8kIAj5PZCW9BBFhTl5PcX8J5fxqza3BXk3gK7ByYasvxSSTCXUQZCsnht4GNbAqqxCyy6NbPG9y4q60QdG8HPjyrrJSHFHKmV6QfuLhRUB8vK22gscUxwZDZD",
        "fbAppSecret": "732745378547eb1ad3b1097c2d1215f8",
        "webhookEndpoint": "/SWO5EK4",
        "x": 200,
        "y": 100,
        "wires": []
    },
    {
        "id": "904e8f39.b2643",
        "type": "slackBot",
        "z": "6b02241f.af3a2c",
        "name": "",
        "clientId": "",
        "clientSecret": "",
        "webhookEndpoint": "",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "3fee6ac.3a42b96",
        "type": "telegramBot",
        "z": "6b02241f.af3a2c",
        "name": "",
        "authToken": "379950108:AAGtEH599Ff94PGolcmHV0rfN2Cno5-rluA",
        "webhookEndpoint": "/webhook1234",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "3616b0d9.e3419",
        "type": "twitterBot",
        "z": "6b02241f.af3a2c",
        "name": "",
        "consumerKey": "",
        "consumerSecret": "",
        "accessToken": "",
        "accessTokenSecret": "",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "671b7971.aa9278",
        "type": "function",
        "z": "6b02241f.af3a2c",
        "name": "say hello with actions",
        "func": "msg.payload = '<hi /> <pause />How are you?'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "d8252620.cb9708"
            ]
        ]
    },
    {
        "id": "d8252620.cb9708",
        "type": "bot response",
        "z": "6b02241f.af3a2c",
        "name": "",
        "function": "reply",
        "x": 890,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "54599219.f6a9cc",
        "type": "action start",
        "z": "6b02241f.af3a2c",
        "name": "",
        "tag": "hi",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "d74a0b5b.5f38b8"
            ]
        ]
    },
    {
        "id": "fd25f621.c98cf8",
        "type": "action end",
        "z": "6b02241f.af3a2c",
        "name": "",
        "x": 444,
        "y": 222,
        "wires": []
    },
    {
        "id": "d74a0b5b.5f38b8",
        "type": "function",
        "z": "6b02241f.af3a2c",
        "name": "hi there",
        "func": "msg.payload = 'hi there';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 298,
        "y": 221,
        "wires": [
            [
                "fd25f621.c98cf8"
            ]
        ]
    },
    {
        "id": "833d1c92.eb86b",
        "type": "bot response",
        "z": "6b02241f.af3a2c",
        "name": "",
        "function": "sendIsTypingMessageTo",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "2f66929f.5c2dbe"
            ]
        ]
    },
    {
        "id": "2f66929f.5c2dbe",
        "type": "delay",
        "z": "6b02241f.af3a2c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "671b7971.aa9278"
            ]
        ]
    },
    {
        "id": "7f51c5b8.51456c",
        "type": "function",
        "z": "6b02241f.af3a2c",
        "name": "hello actions",
        "func": "msg.payload = '<hi /> <pause />How are you?'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "7201701e.450db"
            ]
        ]
    },
    {
        "id": "7201701e.450db",
        "type": "bot response",
        "z": "6b02241f.af3a2c",
        "name": "",
        "function": "reply",
        "x": 450,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6e4878e7.1df408",
        "type": "bot update",
        "z": "6b02241f.af3a2c",
        "name": "",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "7f51c5b8.51456c"
            ]
        ]
    },
    {
        "id": "8f4c4c08.b008a",
        "type": "bot update",
        "z": "6b02241f.af3a2c",
        "name": "",
        "x": 170,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "99b3d30e.9973e",
        "type": "watson-conversation-v1",
        "z": "6b02241f.af3a2c",
        "name": "",
        "workspaceid": "",
        "multiuser": false,
        "context": true,
        "x": 430,
        "y": 500,
        "wires": [
            [
                "f9061c84.29dd1"
            ]
        ]
    },
    {
        "id": "e4f9bdbf.41cc6",
        "type": "bot update",
        "z": "6b02241f.af3a2c",
        "name": "",
        "x": 170,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f507eb6a.745f18",
        "type": "bot response",
        "z": "6b02241f.af3a2c",
        "name": "",
        "function": "reply",
        "x": 690,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ab29bae2.53d5c8",
        "type": "function",
        "z": "6b02241f.af3a2c",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "99b3d30e.9973e"
            ]
        ]
    },
    {
        "id": "f9061c84.29dd1",
        "type": "function",
        "z": "6b02241f.af3a2c",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "f507eb6a.745f18"
            ]
        ]
    },
    {
        "id": "dac06b1c.9a3b78",
        "type": "comment",
        "z": "6b02241f.af3a2c",
        "name": "Configure each bot",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "e0a02d3b.7bb95",
        "type": "comment",
        "z": "6b02241f.af3a2c",
        "name": "Handling updates",
        "info": "",
        "x": 120,
        "y": 300,
        "wires": []
    },
    {
        "id": "fab7f834.454c38",
        "type": "comment",
        "z": "6b02241f.af3a2c",
        "name": "Simple hello world",
        "info": "",
        "x": 210,
        "y": 360,
        "wires": []
    },
    {
        "id": "43fe4a5e.733834",
        "type": "comment",
        "z": "6b02241f.af3a2c",
        "name": "Using an NLU service",
        "info": "",
        "x": 220,
        "y": 460,
        "wires": []
    },
    {
        "id": "8f68dde6.6f4d7",
        "type": "comment",
        "z": "6b02241f.af3a2c",
        "name": "Chaining response tactics",
        "info": "",
        "x": 230,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e984d08.424714",
        "type": "comment",
        "z": "6b02241f.af3a2c",
        "name": "Defining actions",
        "info": "",
        "x": 120,
        "y": 160,
        "wires": []
    }
]