flows.json
[{"id":"6b02241f.af3a2c","type":"tab","label":"Flow 1"},{"id":"337e250c.e7362a","type":"messengerBot","z":"6b02241f.af3a2c","name":"","verifyToken":"dontcare","pageToken":"EAAaKm2eXFoYBAL3ciyZCAL4hTGukL38NKRGMGbxAHa6fdAbcsQUB8kIAj5PZCW9BBFhTl5PcX8J5fxqza3BXk3gK7ByYasvxSSTCXUQZCsnht4GNbAqqxCyy6NbPG9y4q60QdG8HPjyrrJSHFHKmV6QfuLhRUB8vK22gscUxwZDZD","fbAppSecret":"732745378547eb1ad3b1097c2d1215f8","webhookEndpoint":"/SWO5EK47","x":479.5,"y":391,"wires":[["d4de1a6b.ac86e8"]]},{"id":"904e8f39.b2643","type":"slackBot","z":"6b02241f.af3a2c","name":"","clientId":"","clientSecret":"","webhookEndpoint":"","x":462.5,"y":429,"wires":[[]]},{"id":"3fee6ac.3a42b96","type":"telegramBot","z":"6b02241f.af3a2c","name":"","authToken":"","webhookEndpoint":"","x":474.5,"y":465,"wires":[[]]},{"id":"3616b0d9.e3419","type":"twitterBot","z":"6b02241f.af3a2c","name":"","consumerKey":"","consumerSecret":"","accessToken":"","accessTokenSecret":"","x":473.5,"y":502,"wires":[[]]},{"id":"4e412e52.6567b","type":"botmaster in","z":"6b02241f.af3a2c","name":"","x":256.5,"y":148,"wires":[["fb0787fc.875638"]]},{"id":"cda45547.fa7e18","type":"botmaster out","z":"6b02241f.af3a2c","name":"reply","function":"reply","x":625.5,"y":146,"wires":[]},{"id":"fb0787fc.875638","type":"function","z":"6b02241f.af3a2c","name":"hi there","func":"msg.payload = 'hi there'\nreturn msg;","outputs":1,"noerr":0,"x":424.5,"y":148,"wires":[["ccf08dbb.b5101"]]},{"id":"9f96de4c.d00a","type":"botmaster out","z":"6b02241f.af3a2c","name":"sendMessage","function":"sendMessage","x":659.5,"y":83,"wires":[]},{"id":"ccf08dbb.b5101","type":"botmaster out","z":"6b02241f.af3a2c","name":"sendIsTypingMessageTo","function":"sendIsTypingMessageTo","x":682,"y":194,"wires":[]},{"id":"d4de1a6b.ac86e8","type":"debug","z":"6b02241f.af3a2c","name":"bot output","active":true,"console":"false","complete":"true","x":685.5,"y":419,"wires":[]}]